:root {
  --white: #E0F7FA;
  --lightGray: #e4e6ec;
  --gray: #c5c5c5;
  --black: #2e3030;

}

#activity {
  float: left;
  position: relative;
  margin: 230px 0px -450px 15px;
  width: 425px;
  color: var(--black);
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

body {
  background-color: var(--lightGray);
  max-width: 100vw;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

#break-box {
  position: absolute;
  top: 80%;
  left: 125px;
}

#break-slider {
  position: absolute;
  left: 125px;
  top: -5%;
}

.btn-group {
  position: absolute;
  left: 82px;
  top: 50%;
  color: white;
}

#circle-base {
  fill: none;
  stroke: #c5c5c5;
  stroke-width: 0.196em;
  stroke-dasharray: 100 100;
}

#circle-fill {
  fill: none;
  stroke: var(--black);
  stroke-width: 0.16em;
  stroke-dashoffset: 0;
  transition: stroke-dasharray 0.1s;
}

.container {
  min-width: 1145px;
  max-width: 100vw;
}

#countdown {
  float: left;
  position: relative;
  margin: 100px 0px -350px 15px;
  width: 425px;
  color: var(--black);
  font-size: 7em;
  text-align: center;
  cursor: pointer;
}

#main {
  float: left;
  position: absolute;
  width: 450px;
  left: 50%;
  top: 10%;
  margin-left: -240px;
}

.slider {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  margin-top: 600px;
  height: 10px;
  width: 370px;
  background: var(--gray);

}

.slider .ui-widget-header {
  background-image: none;
}

.slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--black);
}

#timer {
  float: left;
  height: 900px;
  width: 950px;
  margin-top: -225px;
  margin-left: -250px;
  border-radius: 50%;
  transition: stroke-dasharray 0.1s;
  transform: rotate(-90deg);
}

.time-box {
  position: absolute;
  left: 50%;
  margin-left: -85px;
  height: 20px;
  width: 150px;
  text-align: center;
  color: var(--black);

}

.button {
  background-color: var(--lightGray);
  color: var(--black);
  border-radius: 10px;
  padding: 0px 20px;
}

#work-box {
  position: absolute;
  top: 72%;
  left: 125px;
}

#work-slider {
  position: absolute;
  left: 125px;
  top: -13%;
}